.navbar {
  padding: 0px 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbarWrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.navbarList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.navbarListItem {
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.navbarListItemLink {
  display: block;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
}

.navbarListItem:hover {
  background-color: #007bff;
}

.navbarListItemText {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
